#list_subpanel_tr_technicalrequests_dsbtn_distributionitems_1 > table th{
    width: 10%;
}

#list_subpanel_tr_technicalrequests_dsbtn_distributionitems_1 > table th:nth-child(1){
    width: 1%;
}

#list_subpanel_tr_technicalrequests_dsbtn_distributionitems_1 > table th:nth-child(3){
    width: 30%;
    text-align: center;
}

#list_subpanel_tr_technicalrequests_dsbtn_distributionitems_1 > table tr td:nth-child(3){
    text-align: center;
}

#list_subpanel_tr_technicalrequests_dsbtn_distributionitems_1 > table th:nth-child(6){
    width: 5%;
}

#list_subpanel_tr_technicalrequests_dsbtn_distributionitems_1 > table th:nth-child(7){
    width: 5%;
}

#updates {
    height: 200px;
    line-height: 20px;
    display: block;
    overflow-y:scroll;
}