#searchDialog > .modal-dialog{
	width: 85% !important;
	height: 85% !important;
	margin: auto;
}

.row-container
{
  white-space: nowrap !important;
  max-width: 100%;
  overflow: auto;
  padding: 0px !important;
}

.modal-search .form-item
{
	width: 80%;
}

.search_form .view .col-xs-12 input[type="text"]
{
	width: 70%;
}

@media (max-width : 320px) {
    .modal-search .col-xs-12{
    	width: 100% !important;

    }

    .modal-search .form-item
	{
		width: 100%;
	}

	.search_form .view .col-xs-12 input[type="text"]
	{
		width: 100%;
	}
}

.row-equal-height
{
	min-height: 140px !important;
}

.row-field, .row-label{
	float: none !important;
	display: inline-block !important;
}

.advanced .col-xs-12
{
	float: none;
}

.col-advanced-search
{
	float: left;
}

.modal-search .submitButtonsAdvanced, .modal-search .submitButtons
{
	float: left !important;
}

.modal-search .col-lg-4
{
	width: 33.3333333333%;
}