#quote{
    background-color:#fff;
    padding:10px; 
    background-color:#f8f8f8;
    border-top:2px solid #4e8ccf;
    width:98%;
    border-bottom:1px solid #d8d8d8;
    margin:2px;
}
#quotecat{
    background-color:#fff;
    padding:10px; 
    background-color:#f8f8f8;
    border-top:2px solid #4e8ccf;
    width:98%;  margin:2px;
    border-bottom:1px solid #d8d8d8;
}
#loginquote{
    padding:10px; 
    background-color:#f8f8f8;
    border-top:2px solid #4e8ccf;
    width:98%;  margin:2px;
    border-bottom:1px solid #d8d8d8;
}
table td #category_block{
    display:inline; float: left;
    font-size: 14px; font-weight:100px;
    width:33%;
}

#tab td{
    padding:3px;
}


#quotecat > button {
    border: medium none;
    padding: 5px;
}
#thead{
    text-align:left;
}

#pagecontent button { border: medium none ; padding: 5px; margin-bottom: 10px; }
#dis .custom-pagination { padding-top: 20px; width: 100%; }
#tab label#lbl_newquote_hidden,
#tab label#lbl_editquote_hidden,
#tab label#lbl_hidden_select { color: red; font-weight: normal;}

#tab2 label#lbl_newcat_hidden,
#tab2 label#lbl_editcat_hidden { color: red; font-weight: normal;}

#newcat_row label#lbl_newcat_hidden{margin-left: 10px; margin-top: 22px; color: red; font-weight: normal;}


#aa a {
    vertical-align: middle;
}
